*{
    box-sizing: border-box;
}

/* ------------- */
/* Tag Selectors */
/* ------------- */

html{
    font-family: sans-serif;
}

header{
    height: 200px;
    width: 100%;
    background-color: cadetblue;

}

header h1{
    /* width: 5vw; //TODO: revisit fixing size of text to container*/
    text-align: center;
    padding: 15px;
}

/* ------------- */
/* Class Selectors */
/* ------------- */

.row::after{
    content: "";
    clear: both;
    display: table;
}

.col-1{
    
}

.col-2{
    
}

.col-3{
    
}

.side-info{

}

/* ------------- */
/* ID Selectors */
/* ------------- */
#page-title{

}